<%= form_for(@ar_transaction) do |f| %>
  <% if @ar_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ar_transaction.errors.count, "error") %> prohibited this ar_transaction from being saved:</h2>

      <ul>
      <% @ar_transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :transactionAmount %><br>
    <%= f.text_field :transactionAmount %>
  </div>
  <div class="field">
    <%= f.label :transactionType %><br>
    <%= f.text_field :transactionType %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
