<p id="notice"><%= notice %></p>

<p>
  <strong>Last name or Business name:</strong>
  <%= @client.lastnameorbizname %>
</p>

<p>
  <strong>First name:</strong>
  <%= @client.firstname %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
